@model Agenda.Regra.Contato
@{
    ViewData["Title"] = "Detalhe Contato";
}

<div class="container">
    <div class="row justify-content-center">
        <div class="col-12 text-center">
            <h2 class="display-4">Detalhe Contato</h2>
        </div>
    </div>
    <br />
    <hr />
    <div class="row">
        <div class="col-12 col-md-4">
            <label for="divNome"><b>Nome</b></label>
            <div id="divNome">
                @Html.DisplayFor(model => model.Nome)
            </div>
        </div>
        <div class="col-12 col-md-4">
            <label for="divEmpresa"><b>Empresa</b></label>
            <div id="divEmpresa">
                @Html.DisplayFor(model => model.Empresa)
            </div>
        </div>
        <div class="col-md-4">
            <label for="divEndereco"><b>Endereço</b></label>
            <div id="divEndereco">
                @Html.DisplayFor(model => model.Logradouro) -
                @Html.DisplayFor(model => model.Numero),
                @Html.DisplayFor(model => model.Complemento) -
                @Html.DisplayFor(model => model.Bairro),
                @Html.DisplayFor(model => model.Cidade) -
                @Html.DisplayFor(model => model.Uf),
                @Html.DisplayFor(model => model.Cep)
            </div>
        </div>
    </div>
    <hr />
    <div class="row">
        @{
            foreach (var dadoAdicional in Model.DadosAdicionais)
            {
                <div class="col-12 col-md-4" style="padding-top:10px;">
                    <label for="divDescricao"><b>@Html.DisplayFor(item => dadoAdicional.ClassificacaoDado.Nome)</b></label>
                    <div id="divDescricao">
                        @Html.DisplayFor(item => dadoAdicional.Valor)
                    </div>
                </div>
            }
        }
    </div>
    <br />
    <hr />
    <div class="row justify-content-center">
        <div class="col-12 col-md-2 offset-10">
            <input type="button"
                   class="btn btn-light"
                   value="Editar"
                   onclick="location.href='@(Url.Action("AlterarContato", "Home", new { p_IdContato = Model.Identificador }))'" />
            <input type="button"
                   class="btn btn-light"
                   value="Voltar"
                   onclick="location.href='@(Url.Action("Index", "Home"))'" />
        </div>
    </div>
</div>
